@import "~bootswatch/dist/darkly/bootstrap.min.css";

.procesos-container {
  margin-top: 20px;
  padding: 20px;
}

.input-busqueda {
  width: 750px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
}
.input-busqueda:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.input-busqueda::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-busqueda::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-busqueda::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-busqueda:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}


.lista-procesos {
  margin-bottom: 20px;
}

.proceso-item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proceso-item.selected {
  background-color: rgba(0, 123, 255, 0.2);
}

.proceso-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.proceso-detalle {
  padding: 20px;
  border-radius: 4px;
  background-color: #222222;
  box-shadow: 0 2px 4px #222222;
}

.proceso-detalle h2 {
  margin-top: 0;
}

.proceso-detalle p {
  margin: 5px 0;
}

.matar-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

.matar-button:hover {
  background-color: #c82333;
}
